/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Mar-2017, 12:57:07
    Author     : myron
*/
/*Fonts*/
*{
    margin: 0;
    padding: 0;
}
a{
    color: #00b1f5;
}
a:hover{
    color: #007aa9;
}
a:visited{
    color: #00b1f5;
}
p{
    color: #555555;
}
h1{
    color: black;
}
h2{
    
}
strong{
    font-weight: normal;
    color: #00b1f5;
}
.comment h2{
    
}
header{
    height: 48px;
    background-color: black;
    background-image: url("../images/header_bg.png");
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
}
body{
    background-color: #33709C;
}
footer{
    height: 46px;
    background-color: white;
    margin-top: 10px;
}
section#content{
    width: 98%;
    margin: 0 auto;
}
.content-item, .article{
    background-color: #fcfcfc;
    border: 1px solid #eeeeee;
    margin-bottom: 5px;
}
.content-item:hover{
    border: 1px solid #00b1f5;
}
.content-item img{
    display: block;
    width: 25%;
    float: left;
}
.content-item-link{
    display: block;
}
/*#fcfcfc*/
#logo{
    margin: 2px 0 0 4px;
    height: 45px;
}
.facebook-icon, .twitter-icon{
    margin-top: 2px;
    display: inline-block;
    height: 41px;
    width: 45px;
}
.facebook-icon{
    background-image: url("../images/pu_facebook.png")
}
.twitter-icon{
    background-image: url("../images/pu_twitter.png")
}
iframe{
    border: 0px;
    width: 100%;
    height: auto;
}